@use "../../styles/theme" as *;

.v-confirm__divider {
  display: block;
  flex: 1 1 0px;
  max-width: 100%;
  height: 0;
  max-height: 0;
  border: solid;
  border-width: thin 0 0 0;
  transition: inherit;
  overflow: visible;

  @at-root {
    @include theme(divider) using ($theme) {
      border-color: map-get($theme, "divider");
    }
  }
}
