name: Release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

permissions:
  id-token: write
  contents: write

jobs:
  ci:
    uses: ./.github/workflows/ci.yml

  create-release:
    needs: [ci]
    runs-on: ubuntu-latest
    if: startswith(github.ref, 'refs/tags/v')
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - run: echo "TAG_NAME=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22
      - run: echo "DIST_TAG=$(node scripts/parse-dist-tag.js)" >> $GITHUB_ENV

      - name: Build Release Note
        id: github_release
        uses: mikepenz/release-changelog-builder-action@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          configuration: ".github/workflows/templates/configuration.json"

      - name: Create release tag
        id: create_release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          prerelease: ${{ env.DIST_TAG != 'latest' }}
          tag_name: ${{ env.TAG_NAME }}
          body: ${{steps.github_release.outputs.changelog}}

  publish-npm:
    needs: [create-release]
    runs-on: ubuntu-latest
    if: startswith(github.ref, 'refs/tags/v')
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - uses: actions/cache@v3
        id: cache_dependencies
        env:
          cache-name: cache
        with:
          path: node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('pnpm-lock.yaml') }}
      - run: pnpm install --frozen-lockfile --reporter=silent
      - run: pnpm -F @gn5r/vue-confirm build

      - name: Publish to npm
        run: bash scripts/release.sh
